<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Art Lounge</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />

</head>
<body>
<div class="top">
    <a href="/">
        <img src="{{ STATIC_URL }}img/logo.png" />
    </a>
</div>
<div class="inner">
    <div class="border"></div>
    <div class="big-title">
        жизнеутверждающий и слоган
    </div>
    <div class="border"></div>
    <div class="top-desc">
        Help shape the next awi awards ceremony.  click the icon to tell us which of these creatives you Love / Don't Love.
    </div>
</div>
{% block slider %}
    <div class="slider">
        <img src="{{ STATIC_URL }}img/banner0.jpg" />
    </div>
{% endblock %}
<div class="inner">
    <div class="menu">
        <div class="menu-item">
            <a href="#">
                <img src="{{ STATIC_URL }}img/design-button.png" style="width: 180px; height: auto;" />
                <div class="menu-item-name">Дизайн интерьера</div>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                <img src="{{ STATIC_URL }}img/mebel-button.png" />
                <div class="menu-item-name">Мебель</div>
            </a>
        </div>
        <div class="menu-item">
            <a href="#">
                <img src="{{ STATIC_URL }}img/pic-button.png" />
                <div class="menu-item-name">Картины</div>
            </a>
        </div>
    </div>
</div>
{% block content %}
<div class="inner">
    <div class="big-title">
        О Нас
    </div>
    <div class="border"></div>
    <div class="top-desc">
        award the inspired brings together some of today's brightest artists, designers and photographers for your votes. Browse the profiles of the most recent contributors and cast your vote for the final 10 to reach our ceremony.
        click the icon to tell us which of these artists you Love / Don't Love.
    </div>
    <div class="post">
        <div class="post-images">
            <img src="{{ STATIC_URL }}img/post-img-0.jpg" />
            <img src="{{ STATIC_URL }}img/post-img-1.jpg" />
            <img src="{{ STATIC_URL }}img/post-img-2.jpg" />
        </div>
        <div class="post-text">
            <div class="post-title">Jane Doe</div>
            <div>
                Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..Donec tincidunt aliquam urna, in lobortis lorem eleifend eu. pellentesque id emet venenatis erat. Mauris nisl tellus, lorem rhoncus ut iaculis sit amet, imperdietium quis eros. Ut mattis, est sed mattis eras viverra, turpis nibh tempus tellus.
                iaculis quam augue ut erat. Suspendisse a elementum erat. Aenean at dapibus purus. Etiam tristique nisi sed nibh vehicula eget pharetra ipsum malesuada..
            </div>
        </div>
    </div>
    </div>
{% endblock %}
<div class="inner">
    <div class="border"></div>
    <div class="contacts">
        <div class="left">
            <div class="big-title">
                Контактная информация
            </div>
            <div class="contacts-desc">
                Мы расположены по ардесу:<br/>
                4th October to 12 October 2012 10am to 4pm.                <a href="#">Смотреть на карте</a>
            </div>
            <img src="{{ STATIC_URL }}img/contacts-img.jpg" />

        </div>
        <div class="right">
            <div class="big-title">
                Написать нам
            </div>
            <div class="contacts-desc">
                If you have an awards ceremony invitation code, please enter it along with your e-mail address in the form below.
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Your E-mail..." />
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Invitation code..." />
            </div>
            <div class="input-wrapper">
                <button>Submit R S V P</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="inner">
        © 2014 ARt Lounge
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>
    <script src="{{ STATIC_URL }}js/common.js"></script>
</body>
</html>