{% extends 'base.html' %}

{% block slider %}{% endblock %}

{% block content %}
    <div class="gallery">
        <div class="top-desc">
            {{ text|safe }}
        </div>
        {% for photo in photos %}
            <div class="gallery-item" rel="gallery">
                {% if photo.image %}
                <a href="{{ photo.image.url }}" rel="gallery">
                    <img src="{{ photo.small_image.url }}" />
                </a>
                {% else %}
                    <img src="{{ photo.small_image.url }}" />
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}