{% extends 'base.html' %}


<ul class="menu">
            <li>
            	<a href="javascript:false" title="" class="strike">Продукция</a>
                <div class="sub products-bottom">
                    
                    
                    <ul class="submenu">
                        
                            <li><a href="/kabelya-diagnostiki/" title="">Кабеля диагностики</a>
                                
                            </li>
                        
                            <li><a href="/diagnosticheskoe-oborudovanie/" title="">Диагностическое оборудование</a>
                                
                                    <ul>
                                        
                                            <li>
                                            <a href="/dlya-gruzovikov/">Для грузовиков</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/dlya-legkovyih/">Для легковых</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/avtoskanery-dlya-amerikanskih-gruzovikov-i-spectehniki/">Автосканеры для американских грузовиков и спецтехники</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/avtoskanery-dlya-evropejskih-gruzovikov-i-spectehniki/">Автосканеры для европейских грузовиков и спецтехники </a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnostika-dlya-spectehniki/">Диагностика для спецтехники</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnostika-dlya-spectehniki/">Диагностика для спецтехники</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnosticheskoe-oborudovanie-dlya-aziatskih-gruzovikov-i-spectehniki/">Диагностическое оборудование для азиатских грузовиков и спецтехники </a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnosticheskoe-oborudovanie-dlya-dvigatelej/">Диагностическое оборудование для двигателей </a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnostika-sistem-i-uzlov/">Диагностика систем и узлов </a>
                                            </li>
                                        
                                            <li>
                                            <a href="/diagnostika-dlya-pricepov/">Диагностика для прицепов </a>
                                            </li>
                                        
                                            <li>
                                            <a href="/tormoznye-sistemy-dlya-gruzovikov/">Тормозные системы для грузовиков</a>
                                            </li>
                                        
                                    </ul>
                                
                            </li>
                        
                    </ul>
                    
                    <ul class="submenu">
                        
                            <li><a href="/otklyuchenie-addblue/" title="">Отключение addblue</a>
                                
                            </li>
                        
                            <li><a href="/programmatory-dlya-tahografov-tacho/" title="">Программаторы для тахографов  (tacho)</a>
                                
                            </li>
                        
                    </ul>
                    
                    <ul class="submenu">
                        
                            <li><a href="/programmnoe-obespechenie/" title="">Программное обеспечение</a>
                                
                            </li>
                        
                            <li><a href="/emulyatory/" title="">Эмуляторы</a>
                                
                            </li>
                        
                    </ul>
                    
                </div>
            </li>
            <li>
            	<a href="javascript:false" title="" class="strike">Марки автотехники</a>
                <div class="sub marks-bottom">
                    
                    
                        <ul class="submenu">
                        
                            <li><a href="/agco/" title="">AGCO</a></li>
                        
                            <li><a href="/allison-transmission/" title="">Allison Transmission</a></li>
                        
                            <li><a href="/bell-equipment/" title="">Bell Equipment</a></li>
                        
                            <li><a href="/bendix/" title="">Bendix</a></li>
                        
                            <li><a href="/bharat-benz/" title="">BHARAT-BENZ</a></li>
                        
                            <li><a href="/case-/" title="">CASE </a></li>
                        
                            <li><a href="/caterpillar/" title="">Caterpillar</a></li>
                        
                            <li><a href="/challenger/" title="">Challenger</a></li>
                        
                            <li><a href="/cummins/" title="">Cummins</a></li>
                        
                            <li><a href="/daf/" title="">DAF</a></li>
                        
                            <li><a href="/detroit-diesel/" title="">Detroit Diesel</a></li>
                        
                            <li><a href="/freightliner/" title="">Freightliner</a></li>
                        
                            <li><a href="/hino/" title="">HINO</a></li>
                        
                            <li><a href="/hitachi/" title="">HITACHI</a></li>
                        
                            <li><a href="/hyundai/" title="">Hyundai</a></li>
                        
                            <li><a href="/international/" title="">International</a></li>
                        
                        </ul>
                    
                        <ul class="submenu">
                        
                            <li><a href="/isuzu/" title="">ISUZU</a></li>
                        
                            <li><a href="/iveco/" title="">IVECO</a></li>
                        
                            <li><a href="/jcb/" title="">JCB</a></li>
                        
                            <li><a href="/john-deere/" title="">JOHN DEERE</a></li>
                        
                            <li><a href="/kenworth/" title="">Kenworth</a></li>
                        
                            <li><a href="/kobelco/" title="">Kobelco</a></li>
                        
                            <li><a href="/mack/" title="">Mack</a></li>
                        
                            <li><a href="/man/" title="">MAN</a></li>
                        
                            <li><a href="/mercedes/" title="">MERCEDES</a></li>
                        
                            <li><a href="/mercedes-benz/" title="">MERCEDES-BENZ</a></li>
                        
                            <li><a href="/meritor-wabco-/" title="">Meritor Wabco </a></li>
                        
                            <li><a href="/mitsubishi-fuso/" title="">Mitsubishi FUSO</a></li>
                        
                            <li><a href="/new-holland-construction/" title="">New Holland Construction</a></li>
                        
                            <li><a href="/nissan-ud/" title="">Nissan UD</a></li>
                        
                            <li><a href="/paccar/" title="">Paccar</a></li>
                        
                        </ul>
                    
                        <ul class="submenu">
                        
                            <li><a href="/perkins/" title="">Perkins</a></li>
                        
                            <li><a href="/peterbilt/" title="">Peterbilt</a></li>
                        
                            <li><a href="/renault/" title="">Renault</a></li>
                        
                            <li><a href="/renault-truck/" title="">Renault Truck</a></li>
                        
                            <li><a href="/rogator/" title="">RoGator</a></li>
                        
                            <li><a href="/scania/" title="">SCANIA</a></li>
                        
                            <li><a href="/setra/" title="">SETRA</a></li>
                        
                            <li><a href="/sisu/" title="">SISU</a></li>
                        
                            <li><a href="/steyr/" title="">Steyr</a></li>
                        
                            <li><a href="/sumitomo-shi/" title="">Sumitomo (S.H.I.)</a></li>
                        
                            <li><a href="/timberjack/" title="">Timberjack</a></li>
                        
                            <li><a href="/valtra/" title="">Valtra</a></li>
                        
                            <li><a href="/volvo/" title="">VOLVO</a></li>
                        
                            <li><a href="/wabco/" title="">WABCO</a></li>
                        
                            <li><a href="/zf/" title="">ZF</a></li>
                        
                        </ul>
                    
                </div>
            </li>
            <li>
            	<a href="javascript:false" title="" class="strike">Готовые комплекты</a>
                <div class="sub complect-bottom">
                    
                    
                    <ul class="submenu">
                        
                            <li><a href="/programmirovanie-tahografov/" title="">Программирование тахографов</a>
                                
                            </li>
                        
                            <li><a href="/otklyuchenie-adblue/" title="">Отключение Adblue</a>
                                
                            </li>
                        
                    </ul>
                    
                    <ul class="submenu">
                        
                            <li><a href="/remont-tormoznoj-sistemy/" title="">Ремонт тормозной системы</a>
                                
                            </li>
                        
                            <li><a href="/pakety-po-regionam/" title="">Пакеты по регионам</a>
                                
                                    <ul>
                                        
                                            <li>
                                            <a href="/ssha/">(США,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/kitaj/">Китай,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/evropa/">ЕВРОПА,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/yaponiya/">  ЯПОНИЯ,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/koreya/"> КОРЕЯ)</a>
                                            </li>
                                        
                                    </ul>
                                
                            </li>
                        
                    </ul>
                    
                    <ul class="submenu">
                        
                            <li><a href="/pakety-po-napravleniyam/" title="">Пакеты по направлениям</a>
                                
                                    <ul>
                                        
                                            <li>
                                            <a href="/gruzoviki/">(ГРУЗОВИКИ,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/fury/"> ФУРЫ,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/spectehnika/">СПЕЦ,ТЕХНИКА,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/krany/">КРАНЫ,</a>
                                            </li>
                                        
                                            <li>
                                            <a href="/ekskovatory/">ЭКСКОВАТОРЫ)</a>
                                            </li>
                                        
                                    </ul>
                                
                            </li>
                        
                    </ul>
                    
                </div>
            </li>
            <li>
                <a href="javascript:false" title="" class="strike">О компании</a>
                <div class="sub">
                    <ul class="submenu">
                        <li>
                            <a href="/about/">О компании</a>
                        </li>
                        <li>
                            <a href="/news/">Новости</a>
                        </li>
                        <li>
                            <a href="/vacancy/">Вакансии</a>
                        </li>
                        <li>
                            <a href="/events/">События</a>
                        </li>
                    </ul>
                </div>
            </li>



            <li><a href="/contacts/" title="">Контакты</a></li>
        </ul>